<!DOCTYPE html>
<html>
<head>
	<title>MeetCrave - Login</title>
	<style>
		.container{ text-align:center; margin:auto; }
		.input-container{ text-align:center; margin:auto;}

	</style>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<h1 id="headersecond" style="color: steelblue; margin: auto; text-align: center;">Login</h1>

	<form action="/login" method="POST" style="max-width:500px;margin:auto">
		<div class="input-container">
        <i class="fa fa-user icon"></i>
        <input class="input-field" type="text" placeholder="Email" name="email">
    </div>

    <div class="input-container">
    	<i class="fa fa-key icon"></i>
    	<input class="input-field" type="password" placeholder="Password" name="password">
    </div>

    <div class="input-container">
    	<i class="fa fa-key icon"></i>
    	<input class="input-field" type="username" placeholder="Full name" name="username">
    </div>

    <div class="container">
    	<div class="vertical-center">
    		<button type="submit" class="btn">Login</button>
    	</div>
    </div>
    <div class="container">
		<div class="vertical-center">
			<a style="color: steelblue;" href="/signup" max-width:500px; margin:auto;">Don't have a user? Sign up!</a>
		</div>
	</div>
</form>

<p style="color: black;">{{error}}</p>

</body>
</html>