<!DOCTYPE html>
<html>
<head>
	<title>MeetCrave - Main</title>
	<style>
		.container{ text-align:center; margin:auto; }
	</style>

</head>
<body>
<h1 style="color: black; margin: auto; text-align: center;">MeetCrave</h1>
<form action="/signup" method="GET" style="max-width:500px;margin:auto">
	<div class="container">
    	<div class="vertical-center">
    		<button type="submit" class="btn">SignUp</button>
    	</div>
    </div>
</form>
<form action="/login" method="GET" style="max-width:500px;margin:auto">
	<div class="container">
		<div class="vertical-center">
    		<button type="submit" class="btn">Login</button>
    	</div>
    </div>
</form>

<p style="color: white;">{{error}}</p>

</body>
</html>